*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
}

#fondo {
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(3px);
    z-index: -1;
}

#text {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

.mision{
    margin: 25px 1px 10px;
    font-family: "Poetsen One", sans-serif;
    font-size: x-large;
}

#text > div > button {
    border: none;
    margin: 10px 5px 10px;
    background-color: transparent;
    font-family: "Poetsen One", sans-serif;
    padding: 5px;
}

#text > div > button > a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

#text > div > button > a:hover {
    color: tomato;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 5px;
}

#logo {
    width: 80%;
}

#logo:hover{
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

.red {
    width: 5%;
    margin: 15px 3px; 
}





/* Blog.html */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: whitesmoke;
}

#log {
    margin: 15px 0px 25px ;
    text-align: center;
    max-width: 40%;
}

#log_head {
    width: 100%;
    transition: filter 0.3s ease-in-out;
}

#log_head:hover{
    filter: grayscale(100%);
}

#menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

#menu > button {
    margin: 0px 1px;
    width: 120px;
    background-color: transparent;
    border: none;
    font-size: medium ;
}

#menu > button > a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#blog {
    border-bottom: 3px tomato solid;
    color: tomato;
    padding-bottom: 10px;
    text-decoration: none;
    width: 120px;
}


#menu > button > a > img {
    width: 15%;
    margin-right: 5px;
}

#ini:hover, #menb:hover, #nos:hover, #blogm:hover, #noss:hover, #blog:hover, #blogs:hover,  #mens:hover, #men:hover, #nosn:hover  {
    cursor: pointer;
    color: tomato;
    transition: 0.3s;
}


/* cuerpo */

#cuerpo {
    width: 55%;
    margin: 0 auto;
}

#bimg {
    width: 100%;
}


/* TItulo y Autor */
.contenido {
    padding: 0px 30px;
}

#titular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

#titu {
    text-align: center;
    width: 80%;
}

#autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

#autor > img {
    width: 60%;
    border-radius: 50%;
}

#autor > p {
    text-align: center;
    font-size: small;
}

/* contenido */

.contenido > p {
    font-size: 15px;
    /* margin-bottom: 10px; */
    text-align: justify;
}

#pizza {
    width: 30%;
    float: left;
    margin: 10px;
}

#pizzal {
    width: 28%;
    float: right;
    margin: 0 10px;
    border-radius: 8px;
}

.medio {
    margin: 25px 0;
    font-size: 15px;
    text-align: justify;
}

/* footer */
#footer {
    margin: 20px 0;
    text-align: center;
}

.redb {
    width: 4%;
    margin: 15px 3px; 
}





/* menu.html */

#men {
    border-bottom: 3px tomato solid;
    color: tomato;
    padding-bottom: 10px;
    text-decoration: none;
    width: 120px;
}


/* galeria */
section {
    width: 60%;
    margin: 0 auto;
}

#galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
figure {
    /* border: 1px solid blue; */
    padding: 10px 10px;
    margin: 25px 10px;
    text-align: center;
    box-shadow: 10px 10px 8px 0px rgb(151, 37, 17);
    filter: grayscale(30%);
    
}
figure > img {
    border: 5px solid rgb(212, 55, 28);
    background-color: rgb(212, 55, 28);
    max-width: 260px;
    max-height: 185px;
    padding: 5px 10px 0;
    height: 300px;
    margin-bottom: 10px;
    filter: brightness(0.85);
}

figure:hover{
    cursor: pointer;
    filter: grayscale(0%);
    transition: 0.5s;
}

figure > img:hover {
    filter: brightness(1);
    transition: 0.5s;
} 

#footerm {
    width: 55%;
    margin: 20px auto;
    text-align: center;
}


/*nosotros.html  */

#nosn {
    border-bottom: 3px tomato solid;
    color: tomato;
    padding-bottom: 10px;
    text-decoration: none;
    width: 120px;
}

#videos {
    width: 55%;
    margin: 0  auto;
}
#videos > h2 {
    text-align: center;
    margin: 40px 0;
}
#videos > p {
    text-align: justify;
    margin: 5px 0 15px;
}



#vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    /* padding: 0px 15px; */
    width: 90%;
}

.respon {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* height: 0; */
}

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 8px 0px rgb(151, 37, 17);
} 

#vid > p {
    text-align: justify;
    margin: 20px 20px 25px;
    padding: 0 5px;
    font-size: 14px;
}
